Client {
  Name = {{ inventory_hostname }}
  Maximum Concurrent Jobs = {{ bareos_max_concurrent_jobs }}

  # remove comment from "Plugin Directory" to load plugins from specified directory.
  # if "Plugin Names" is defined, only the specified plugins will be loaded,
  # otherwise all storage plugins (*-fd.so) from the "Plugin Directory".
  #
  {% if ansible_distribution == "CentOS" %}Plugin Directory = /usr/lib64/bareos/plugins
  {% elif ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}Plugin Directory = /usr/lib64/bareos/plugins
  {% endif %}
  # Plugin Names = ""

  # if compatible is set to yes, we are compatible with bacula
  # if set to no, new bareos features are enabled which is the default
  # compatible = yes
}
